<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Check Form</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .card-form{
        border-color: #a8c3cc; /* Border color */
        border-radius: 10px;
        border: 1px solid #A8C3CC;
        background: #ECEFF1;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <form action="/submit_form" method="post">

        <p>Course ID: <%= @form_data[:courseId] %></p>
        <input type="hidden" name="courseId" value="<%= @form_data[:courseId] %>">

    <h1>口コミ投稿内容の確認</h1>

      <!-- 課題の量の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">1. 課題の量</div>
        <div class="card-body">
          <p><%= @form_data[:quantity] %></p>
          <input type="hidden" name="quantity" value="<%= @form_data[:quantity] %>">
        </div>
      </div>
      
      <!-- 授業資料の有無の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">2. 授業資料の有無</div>
        <div class="card-body">
          <p><%= @form_data[:reference] %></p>
          <input type="hidden" name="reference" value="<%= @form_data[:reference] %>">
        </div>
      </div>
      
            <!-- グループワークの有無の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">3. グループワークの有無</div>
        <div class="card-body">
          <p><%= @form_data[:groupWork] %></p>
          <input type="hidden" name="groupWork" value="<%= @form_data[:groupWork] %>">
        </div>
      </div>
      
      <!-- テストの有無の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">4. テストの有無</div>
        <div class="card-body">
          <p><%= @form_data[:hasTests] %></p>
          <input type="hidden" name="hasTests" value="<%= @form_data[:hasTests] %>">
        </div>
      </div>
      
      <!-- レポートの有無の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">5. レポートの有無</div>
        <div class="card-body">
          <p><%= @form_data[:hasReports] %></p>
          <input type="hidden" name="hasReports" value="<%= @form_data[:hasReports] %>">
        </div>
      </div>
      
      <!-- プログラミングの有無の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">6. プログラミングの有無</div>
        <div class="card-body">
          <p><%= @form_data[:hasProgramming] %></p>
          <input type="hidden" name="hasProgramming" value="<%= @form_data[:hasProgramming] %>">
        </div>
      </div>
      
      <!-- この授業はどんな人に向き・不向きか？コメントの確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">7. この授業はどんな人に向き・不向き？</div>
        <div class="card-body">
          <p><%= @form_data[:targetAudience] %></p>
          <input type="hidden" name="targetAudience" value="<%= @form_data[:targetAudience] %>">
        </div>
      </div>
      
      <!-- その他コメントの確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">8. その他コメント</div>
        <div class="card-body">
          <p><%= @form_data[:otherComments] %></p>
          <input type="hidden" name="otherComments" value="<%= @form_data[:otherComments] %>">
        </div>
      </div>
      
      <!-- 総合評価の確認 -->
      <div class="card-form mb-3">
        <div class="card-header bg-orange text-black">9. 総合評価</div>
        <div class="card-body">
          <p><%= @form_data[:rating] %> / 5</p>
          <input type="hidden" name="rating" value="<%= @form_data[:rating] %>">
        </div>
      </div>

      <button type="submit" class="btn">口コミ投稿</button>
    </form>
  </div>

</body>
</html>
