<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Check Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <form action="/submit_form" method="post">
      <div class="card p-3">
        <p>Course ID: <%= @form_data[:courseId] %></p>
        <input type="hidden" name="courseId" value="<%= @form_data[:courseId] %>">
      </div>
    <h1>提出内容の確認</h1>

      <div class="form-group">
        <label>課題の量:</label>
        <p><%= @form_data[:quantity] %></p>
        <input type="hidden" name="quantity" value="<%= @form_data[:quantity] %>">
      </div>

      <div class="form-group">
        <label>授業資料の有無:</label>
        <p><%= @form_data[:reference] == "true" ? "あり" : "なし" %></p>
        <input type="hidden" name="reference" value="<%= @form_data[:reference] %>">
      </div>
      
      <div class="form-group">
        <label>グループワークの有無:</label>
        <p><%= @form_data[:groupWork] == "true" ? "あり" : "なし" %></p>
        <input type="hidden" name="groupWork" value="<%= @form_data[:groupWork] %>">
      </div>
      
      <div class="form-group">
        <label>テストの有無:</label>
        <p><%= @form_data[:hasTests] == "true" ? "あり" : "なし" %></p>
        <input type="hidden" name="hasTests" value="<%= @form_data[:hasTests] %>">
      </div>
      
      <div class="form-group">
        <label>レポートの有無:</label>
        <p><%= @form_data[:hasReports] == "true" ? "あり" : "なし" %></p>
        <input type="hidden" name="hasReports" value="<%= @form_data[:hasReports] %>">
      </div>
      
      <div class="form-group">
        <label>プログラミングの有無:</label>
        <p><%= @form_data[:hasProgramming] == "true" ? "あり" : "なし" %></p>
        <input type="hidden" name="hasProgramming" value="<%= @form_data[:hasProgramming] %>">
      </div>
      
      <div class="form-group">
        <label>この授業はどんな人に向き・不向きか:</label>
        <p><%= @form_data[:targetAudience] %></p>
        <input type="hidden" name="targetAudience" value="<%= @form_data[:targetAudience] %>">
      </div>
      
      <div class="form-group">
        <label>その他コメント:</label>
        <p><%= @form_data[:otherComments] %></p>
        <input type="hidden" name="otherComments" value="<%= @form_data[:otherComments] %>">
      </div>
      
      <div class="form-group">
        <label>総合評価:</label>
        <p><%= @form_data[:rating] %></p>
        <input type="hidden" name="rating" value="<%= @form_data[:rating] %>">
      </div>
      
      <button type="submit" class="btn btn-primary">口コミ投稿</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
