<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- レスポンシブ対応のためのビューポート設定 -->
  <title>Class Review</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <style>
  .progress {
    position: relative;
    overflow: visible; /* これにより、はみ出た内容も表示される */
    height: 20px; /* プログレスバー自体の高さを調整 */
  }

  /* プログレスバーのバーのスタイル */
  .progress-bar {
    height: 100%;
    background-color: #FE7A2B; /* プログレスバーの色を #FE7A2B に変更 */
  }
  .position-circle {
    position: absolute; /* 絶対位置 */
    top: 50%; /* 親要素の高さの50%の位置 */
    transform: translate(-50%, -50%); /* X軸とY軸の中心から左と上に50%ずらす */
    width: 30px; /* 丸の幅 */
    height: 30px; /* 丸の高さ */
    background-color: #FE7A2B; /* 丸の背景色 */
    border-radius: 50%; /* 丸を円形にする */
    z-index: 2; /* 丸がプログレスバーの上に来るようにする */
  }
  
  </style>
</head>
<body>
  <div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-md-8">
      <p>Course ID: <%= @courseId %></p>
      <h1 class="display-4"><%= @course.className %></h1>
    </div>
    <div class="col-md-2 offset-md-2 text-right">
      <a href="/courses/<%= @course.id %>/reviews/new" class="btn">口コミを追加する</a>
    </div>
  </div>
      <div class="card card-body">
        <div class="row">
          <!-- 授業名のタイトルと値を横並びにする -->
          <div class="col-sm-3">
            <h5 class="card-title">授業名</h5>
          </div>
          <div class="col-sm-9">
            <p class="card-text"><%= @course.className %></p>
          </div>
        </div>
        <!-- 他の情報も同様に行に追加 -->
        <div class="row">
          <div class="col-sm-3">
            <h5 class="card-title">教師名</h5>
          </div>
          <div class="col-sm-9">
            <p class="card-text"><%= @course.teacher %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="card-title">開講学年</h5>
          </div>
          <div class="col-sm-9">
            <p class="card-text"><%= @course.grade %>年</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="card-title">開講曜日</h5>
          </div>
          <div class="col-sm-9">
            <p class="card-text"><%= @course.week %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="card-title">開講時限</h5>
          </div>
          <div class="col-sm-9">
            <p class="card-text"><%= @course.time %>限</p>
          </div>
        </div>
      </div>
      </div>
  </div>
  
    <div class="container mt-3 text-center">
      <h2><%= @course.className %> の口コミ情報</h2>
      <p class="">総口コミ数: <%= @reviews.count %></p>
      <div class="row justify-content-center">
      <div class="col-12">
      <h3>総合評価</h3>
      <% if @reviews.any? %>
        <div class="ratings">
          <span class="average-rating"><%= sprintf('%.1f', @average_rating) %></span>
          <% 5.times do |i| %>
            <% if @average_rating > i %>
              <% if @average_rating < i + 1 %>
                <i class="fas fa-star-half-alt"></i> <!-- 半星 -->
              <% else %>
                <i class="fas fa-star"></i> <!-- 満星 -->
              <% end %>
            <% else %>
              <i class="far fa-star"></i> <!-- 空星 -->
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p>レビューはまだありません。</p>
      <% end %>
    </div>
  </div>
  </div>
      <!-- Progress bar title and labels -->
<div class="container mt-3">
  <div class="row">
      <!-- 課題の量 -->
      <div class="col-md-6 mb-3">
      <h3 class="text-center mb-1">課題の量</h3>
        <div class="d-flex justify-content-between">
          <span>少ない</span>
          <span>多い</span>
        </div>
      
        <!-- Progress bar container -->
        <div class="progress" style="position: relative;">
          <div class="progress-bar" role="progressbar" style="width: <%= @percentage %>%;" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
          <!-- Position circle on top of the progress bar -->
          <div class="position-circle" style="left: <%= @percentage %>%;"></div>
        </div>
      </div>

      <!-- Progress bar title and labels for workload -->
      <div class="col-md-6 mb-3">
        <h3 class="text-center mb-1">授業資料の有無</h3>
        <div class="d-flex justify-content-between">
          <span>なし</span>
          <span>あり</span>
        </div>
      
        <!-- has Class paper container -->
        <div class="progress" style="position: relative;">
          <% workload_percentage = calculate_percentage(@reviews, :workload) %>
      
          <div class="progress-bar" role="progressbar" style="width: <%= workload_percentage || 0 %>%;" aria-valuenow="<%= workload_percentage || 0 %>" aria-valuemin="0" aria-valuemax="100"></div>
          <!-- Position circle on top of the progress bar -->
          <div class="position-circle" style="left: <%= workload_percentage || 0 %>%;"></div>
        </div>
      </div>
      
      <!-- Group Work Progress Bar -->
      <div class="col-md-6 mb-3">
        <h3 class="text-center mb-1">グループワークの有無</h3>
        <div class="d-flex justify-content-between">
          <span>なし</span>
          <span>あり</span>
        </div>
        <div class="progress" style="position: relative;">
          <% group_work_percentage = calculate_percentage(@reviews, :groupWork) %>
          <div class="progress-bar" style="width: <%= group_work_percentage %>%;"></div>
          <div class="position-circle" style="left: <%= group_work_percentage %>%;"></div>
        </div>
      </div>
      
      <!-- Has Tests Progress Bar -->
      <div class="col-md-6 mb-3">
        <h3 class="text-center mb-1">テストの有無</h3>
        <div class="d-flex justify-content-between">
          <span>なし</span>
          <span>あり</span>
        </div>
        <div class="progress" style="position: relative;">
          <% has_tests_percentage = calculate_percentage(@reviews, :hasTests) %>
          <div class="progress-bar" style="width: <%= has_tests_percentage %>%;"></div>
          <div class="position-circle" style="left: <%= has_tests_percentage %>%;"></div>
        </div>
      </div>
      
      <!-- Has Reports Progress Bar -->
      <div class="col-md-6 mb-3">
        <h3 class="text-center mb-1">レポートの有無</h3>
        <div class="d-flex justify-content-between">
          <span>なし</span>
          <span>あり</span>
        </div>
        <div class="progress" style="position: relative;">
          <% has_reports_percentage = calculate_percentage(@reviews, :hasReports) %>
          <div class="progress-bar" style="width: <%= has_reports_percentage %>%;"></div>
          <div class="position-circle" style="left: <%= has_reports_percentage %>%;"></div>
        </div>
      </div>
      
      <!-- Has Programming Progress Bar -->
      <div class="col-md-6 mb-3">
        <h3 class="text-center mb-1">プログラミングの有無</h3>
        <div class="d-flex justify-content-between">
          <span>なし</span>
          <span>あり</span>
        </div>
        <div class="progress" style="position: relative;">
          <% has_programming_percentage = calculate_percentage(@reviews, :hasProgramming) %>
          <div class="progress-bar" style="width: <%= has_programming_percentage %>%;"></div>
          <div class="position-circle" style="left: <%= has_programming_percentage %>%;"></div>
        </div>
      </div>
    </div>
  </div>
    
    <!-- 自由記述欄のコンテナ -->
    <div class="container my-4">
      <h3>自由記述欄</h3>
      <!-- 授業のターゲットについて -->
      <div class="mb-3">
        <h4>この授業はどんな人向き・不向きか？</h4>
        <div class="card">
          <% @reviews.each do |review| %>
          <div class="card-body">
            <%= review.targetAudience %>
          </div>
          <% end %>
        </div>
      </div>
 
      <!-- その他のコメント -->
      <div class="mb-3">
        <h4>その他のコメント</h4>
        <div class="card">
          <% @reviews.each do |review| %>     
          <div class="card-body">
            <%= review.otherComments %>
          </div>
          <% end %>
        </div>
      </div>

      
    </div>

    
    
    
    
    

    <div id ="#reviews"class="container mt-5">
    <h1>口コミ一覧</h1>
    <div class="table-responsive"> <!-- レスポンシブテーブルの適用 -->
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Course ID</th>
          <th scope="col">投稿者</th>
          <th scope="col">総合評価</th>
          <th scope="col">課題の量</th>
          <th scope="col">授業資料の有無</th>
          <th scope="col">グループワークの有無</th>
          <th scope="col">テストの有無</th>
          <th scope="col">レポートの有無</th>
          <th scope="col">プログラミングの有無</th>
          <th scope="col">この授業の向いている人/いない人</th>
          <th scope="col">その他</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.courseId %></td>
            <td><%= review.userName %></td>
            <td><%= review.likes %></td>
            <td><%= review.dropRate %></td>
            <td><%= review.workload ? 'あり' : 'なし'%></td>
            <td><%= review.groupWork ? 'あり' : 'なし' %></td>
            <td><%= review.hasTests ? 'あり' : 'なし' %></td>
            <td><%= review.hasReports ? 'あり' : 'なし' %></td>
            <td><%= review.hasProgramming ? 'あり' : 'なし' %></td>
            <td><%= review.targetAudience %></td>
            <td><%= review.otherComments %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</body>
</html>
