<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Search Results</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
        .vertical-center {
          min-height: 80vh; /* 画面の高さに合わせてコンテナの高さを設定 */
          display: flex;
          align-items: center; /* 垂直方向の中央揃えを設定 */
          justify-content: center; /* 水平方向の中央揃えを設定 */
          margin-top: calc(- 30vh); /* 50pxはナビゲーションバーの推定高さです */
        }
  </style>
</head>
<body>
<div class="container">
    <h1 class="card-title">Search Class</h1>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <form action="/search" method="post">
    
            <div class="form-group">
              <label for="general_search">なんでも検索</label>
              <input id="general_search" class="form-control mb-2" type="search" placeholder="キーワードを入力" aria-label="General Search" name="general_search" value="<%= session[:general_search].to_s %>">
            </div>
    
            <div class="form-group">
              <label for="className">授業名</label>
              <input id="className" class="form-control mb-2" type="text" placeholder="授業名を入力" aria-label="ClassName" name="className" value="<%= session[:className] || '' %>">
            </div>
    
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="teacher">教授</label>
                  <select id="teacher" class="form-control mb-2" name="teacher">
                    <option value="">教授を選んでください</option>
                    <% ["岩井将行", "池田雄介", "大野誠寛", "中島克人", "川澄正史", "鉄谷信二", "竜田藤男", "寺田真敏", "井ノ上寛人"].each do |professor| %>
                      <% selected = "selected" if session[:teacher] == professor %>
                      <option value="<%= professor %>" <%= selected %>><%= professor %></option>
                    <% end %>
                  </select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="form-group">
                  <label for="grade">学年</label>
                  <select id="grade" class="form-control mb-2" name="grade">
                    <option value="" <%='selected' if session[:grade].to_s.empty?%>>学年を選んでください</option>
                    <option value="1" <%='selected' if session[:grade].to_s == '1'%>>1年</option>
                    <option value="2" <%='selected' if session[:grade].to_s == '2'%>>2年</option>
                    <option value="3" <%='selected' if session[:grade].to_s == '3'%>>3年</option>
                    <option value="4" <%='selected' if session[:grade].to_s == '4'%>>4年</option>
                  </select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="form-group">
                  <label for="week">曜日</label>
                  <select id="week" class="form-control mb-2" name="week">
                    <option value="" <%='selected' if session[:week].to_s.empty?%>>曜日を選んでください</option>
                    <% ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日"].each do |day| %>
                      <option value="<%= day %>" <%='selected' if session[:week] == day %>><%= day %></option>
                    <% end %>
                  </select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="form-group">
                  <label for="time">時限</label>
                  <select id="time" class="form-control mb-2" name="time">
                    <option value="" <%='selected' if session[:time].to_s.empty?%>>時限を選んでください</option>
                    <% (1..6).each do |period| %>
                      <option value="<%= period %>" <%='selected' if session[:time].to_s == period.to_s %>><%= period %>限</option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
    
            <div class="form-group row">
              <div class="col text-center">
                <button class="btn btn-outline-success px-4" type="submit">検索</button>
              </div>
            </div>
    
          </form>
        </div>
      </div>
    </div>


<div class="container mt-5">
  <h1>授業検索結果</h1>
  <% if @courses.any? %>
    <% @courses.each do |course| %>
      <div class="card mb-3" data-href="/courses/<%= course.id %>" class="clickable-row">
        <div class="card-body">
          <div class="row align-items-center"> <!-- タイトルとボタンを中央揃えにする -->
            <div class="col-md-8">
              <h5 class="card-title"><%= course.className %></h5>
              <h6 class="card-subtitle mb-2 text-muted">講師: <%= course.teacher %></h6>
            </div>
            <div class="col-md-4 text-md-right"> <!-- 右揃えにする -->
              <a href="/courses/<%= course.id %>" class="btn btn-primary">口コミをみる</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if @message %>
    <div class="alert alert-warning">
      <%= @message %>
    </div>
    <% end %>
  <% end %>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  // ドキュメントの読み込みが完了したら、イベントリスナーを追加
  document.addEventListener('DOMContentLoaded', function() {
    // "clickable-row"クラスを持つすべてのカードに対してイベントリスナーを設定
    document.querySelectorAll('.clickable-row').forEach(function(card) {
      card.addEventListener('click', function() {
        window.location.href = this.dataset.href;
      });
    });
  });
</script>

</body>
</html>
